.container {
    width: 400px;
    margin: 20px auto;
    padding: 15px 10px;
    background: #333333;
}
.container .formula {
    width: 97%;
    height: 80px;
    border: 1px solid #ffffff;
    padding: 5px;
    color: gold;
    text-align: right;
    font-size: 40px;
    background: grey;
}
.container .result {
    width: 97%;
    padding: 5px;
    height: 40px;
    border: 1px solid #ffffff;
    margin-bottom: 5px;
    color: #4caf50;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    background: #333333;
}
.container button {
    width: 80px;
    height: 60px;
    background: #333333;
    color: #ffffff;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}
.container h3 {
    margin: 0 0 10px;
    text-align: center;
    color: #4caf50;
    font-size: 40px;
    text-shadow: 1px 1px 3px #ffffff;
}